/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Prduct Page Assignment
 *
 * Site Styles
 *****************************************************************************/

/*---------------------------------------------------------*\
                         $Contents
\*---------------------------------------------------------*/
/*
Notes
Reset
Shared      Share anything we can across elements.
Main        HTML, Body, etc. 
*/




/*---------------------------------------------------------*\
                         $Imports
\*---------------------------------------------------------*/



/*---------------------------------------------------------*\
                         $Reset
\*---------------------------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

* {
	margin: 0;
}

* {
	padding: 0;
}

* {
	text-decoration: none; color: black;
}

* {
	font-family:
}

* {
	list-style-type: none;
}

* {

}


/*---------------------------------------------------------*\
                         $Shared
\*---------------------------------------------------------*/

.explainer-video, h2, h3 {
	display: flex;
	justify-content: center;
}



/*---------------------------------------------------------*\
                         $Main
\*---------------------------------------------------------*/


/*--------------------*\
         $html
\*--------------------*/


/*--------------------*\
         $head
\*--------------------*/


/*--------------------*\
         $body
\*--------------------*/




